.SSS_Start_LeftColumn {
	width: 20%;
	float: left;
	border: 1px solid #e6e6e6;
}
.SSS_Start_MiddleColumn {
	width: 63%;
	display: inline-block;
	border: 1px solid #e6e6e6;
}

.SSS_Start_RightColumn {
	width: 15%;
	float: right;
	border: 1px solid #e6e6e6;
}
img {
    max-width: 100%;
    max-height: 100%;
}


/** START: HANDLING TOP MENU **************************/
/* Add a black background color to the top navigation */
.topnav {
	background-color: #99c2ff;
	color: #000000;
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #3385ff;
	color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #3385ff;
	color: white;
}
/** END: HANDLING TOP MENU 1 **************************/

/** START: HANDLING TOP MENU **************************/
/* Add a black background color to the top navigation */
.topnav1 {
	background-color: #cce0ff;
	color: #000000;
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav1 a {
	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
.topnav1 a:hover {
	background-color: #99c2ff;
	color: black;
}

/* Add a color to the active/current link */
.topnav1 a.active {
	background-color: #99c2ff;
	color: white;
}
/** END: HANDLING TOP MENU 1 **************************/

li.heading {
    margin: 0;
    background: #0067c7;
    font-size: 100%;
    border: 1px solid #797777;
    padding: 15px 0 15px 15px!important;
    color: #fff;
}
ul.toc>li {
    position: relative;
    display: block;
    border-bottom: 1px dotted #bbb;
}
